extends ../layout/index   

block contenido
  body(class="bg-cover bg-center bg-fixed bg-no-repeat" style="background-image: url('https://wallpaperaccess.com/full/3702528.jpg');")  
    .py-10
    h1.text-4xl.my-10.font-extrabold.text-center.text-white(class="animate__animated animate__bounceInLeft") Bienes
      span.text-cerulean.font-extrabold(class="animate__animated animate__bounceInRight") Raices
    h2.text.center.font-extrabold.text-2xl= page
    
    .mt-8.mx-auto.max-w-full.flex.items-center.justify-center
      // Contenedor para el formulario y la imagen
      .flex.w-full.max-w-4xl
        // Contenedor del formulario
        .w-full.bg-gray-900.bg-opacity-80.py-8.px-6.shadow-lg.rounded-2xl
          form(action="").space-y-5
            div
              label.block.text-sm.uppercase.text-white.mb-2.font-bold Correo electronico
              input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder(placeholder="Tu email" type="email" name="email")
            div
              label.block.text-sm.uppercase.text-white.mb-2.font-bold Contraseña
              input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder(placeholder="Contraseña" type="password" name="password")
            .flex.items-center.justify-between
              a.text-gray-400.text-xs(href="/usuario/createaccount" class="hover:underline hover:decoration-2 hover:decoration-red-600") ¿Aun no tienes cuenta?, registrate
              a.text-gray-400.text-xs(href="/usuario/passwordRecovery" class="hover:underline hover:decoration-2 hover:decoration-red-600") Olvidé mi contraseña
            input(class="w-full bg-mint hover:bg-orange text-white font-bold py-3 cursor-pointer text-center" type="submit" value="Ingresar")

        // Contenedor de la imagen (lado derecho)
        div(class="w-full.md:w-1/2")
          img(src="../images/fondo.jpg" alt="Imagen de fondo" class="w-full h-full object-cover rounded-xl")
