doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | 230142 | #{page}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="/public/css/tailwind.css")      
        link(rel="icon", href="../images/acuerdo.png")
        link(rel="stylesheet" ,href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    body(class="min-h-screen bg-gray-50")
        main(class="mx-auto container mt-10 px-2")
            block contenido
